<%- include('../templates/head') %>
<style>
  .cards dl {
    width: calc(33.3% - 10px);
  }
</style>

<body>
  <div class="container-box">
    <%- include('../templates/header') %>
    <div class="body-box">
      <%- include('../templates/aside') %>
      <div class="main-box" id="js_main_box">
        <div class="cards">
          <dl class="success">
            <dt><span><i class="el-icon-alilujing5"></i></span>100项申请</dt>
            <dd>票据申请</dd>
          </dl>
          <dl class="warn">
            <dt><span><i class="el-icon-alilujing3"></i></span>50项待审核</dt>
            <dd>票据待审核</dd>
          </dl>
          <dl class="primary">
            <dt><span><i class="el-icon-alilujing9"></i></span>50项完成</dt>
            <dd>完成审核</dd>
          </dl>
        </div>

        <div class="table-list">
          <div class="toolbar">
            <h6>票据审核列表</h6>
            <el-radio-group v-model="radio1" size="small">
              <el-radio-button label="全部"></el-radio-button>
              <el-radio-button label="待审核"></el-radio-button>
              <el-radio-button label="完成"></el-radio-button>
            </el-radio-group>
            <el-input placeholder="请输入金融机构名称~" v-model="keyword" size="small">
              <i slot="suffix" class="el-input__icon el-icon-search"></i>
            </el-input>
          </div>

          <!-- 表格start -->
          <el-table :data="tableData" style="width: 100%" max-height="600" @selection-change="handleSelectionChange"
            :cell-style="colStyle" :header-cell-style="colStyle">
            <!-- <el-table-column fixed prop="projname" label="系统名称" min-width="320">
              <template slot-scope="scope">
                <a href="javascript:;">${scope.row.projname}</a>
                <p>广州市委</p>
              </template>
            </el-table-column> -->
            <el-table-column prop="profession" label="状态">
            </el-table-column>
            <el-table-column prop="count" label="票据">
              <template slot-scope="scope">
                ${scope.row.count}项
              </template>
            </el-table-column>
            <el-table-column prop="manager" label="负责人">
            </el-table-column>

            <el-table-column prop="status" label="状态">
              <template slot-scope="scope">
                <span class="dot-status"
                  :class="scope.row.status=='审核'?'warn':scope.row.status=='申请'?'success':''"></span>
                ${scope.row.status}
              </template>
            </el-table-column>
            <el-table-column prop="date" label="最新更新">
            </el-table-column>
            <el-table-column fixed="right" label="操作" width="120">
              <template slot-scope="scope">
                <el-button @click.native.prevent="handleOpen(scope.$index, tableData)" type="text" size="small">
                  审核
                </el-button>
                <el-button @click.native.prevent="deleteRow(scope.$index, tableData)" type="text" size="small">
                  删除
                </el-button>
              </template>
            </el-table-column>
          </el-table> <!-- 表格end -->

          <!-- 分页start -->
          <div class="page-box">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
              :current-page="currentPage4" :page-sizes="[100, 200, 300, 400]" :page-size="100"
              layout="total, sizes, prev, pager, next, jumper" :total="400">
            </el-pagination>
          </div>
          <!-- 分页end -->
        </div>
      </div>
    </div>
  </div>
  <%- include('../templates/foot') %>
</body>
<script>
  var js_main_box = new Vue({
    el: '#js_main_box',
    delimiters: ['${', '}'],
    data() {
      return {
        radio1: '全部',
        keyword: '',

        tableData: [{
          projname: '绿色票据1',
          date: '2016-05-03 14:03',
          status: '完成',
          count: '100',
          profession: '江西分行',
          manager: "余初见"
        }, {
          projname: '绿色票据2',
          date: '2016-05-02 12:30',
          status: '申请',
          count: '100',
          profession: '江西分行',
          manager: "余初见"
        }, {
          projname: '绿色票据3',
          date: '2016-05-04 16:00',
          status: '审核',
          count: '100',
          profession: '江西分行',
          manager: "余初见"
        }, {
          projname: '绿色票据4',
          date: '2016-05-01 19:21',
          status: '完成',
          count: '100',
          profession: '江西分行',
          manager: "余初见"
        }, {
          projname: '绿色票据5',
          date: '2016-05-08 18:00',
          status: '完成',
          count: '100',
          profession: '江西分行',
          manager: "余初见"
        }, {
          projname: '绿色票据6',
          date: '2016-05-06 16:00',
          status: '完成',
          count: '100',
          profession: '江西分行',
          manager: "余初见"
        }, {
          projname: '绿色票据7',
          date: '2016-05-07 15:20',
          status: '完成',
          count: '100',
          profession: '江西分行',
          manager: "余初见"
        }, {
          projname: '绿色票据8',
          date: '2016-05-06 09:00',
          status: '完成',
          count: '100',
          profession: '江西分行',
          manager: "余初见"
        }],

        currentPage4: 4
      }
    },
    methods: {
      // 编辑行
      handleOpen(index, row) {
        console.log(index, row);
        location.href = "stamp-manger-check-list.html";
      },
      //删除行
      deleteRow(index, row) {
        console.log(index, row);
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      colStyle({ row, column, rowIndex, columnIndex }) {
        if (columnIndex == 0 || columnIndex == 2) {
          return 'padding-left:67px;'
        }

      },

      // 全选
      handleSelectionChange(val) {
        this.multipleSelection = val;
      },

      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      },



    }

  })

</script>

</html>