<div class="aside-box" id="js_aside" v-cloak>
  <el-menu default-active="<%= local.path%>" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" @select="menuSelected"
    :collapse="isCollapse" background-color="#001F46" text-color="#fff">
    <nav-menu :navmenus="leftMenus"></nav-menu>
  </el-menu>
</div>